.post-page {
  .post-page__body {
    width: 100%;
  }

  .split-view {
    display: flex;
  }

  .post-page__body {
    margin: 0 10px;
    width: 50%;
  }

  .rendered {
    white-space: break-spaces;
    margin: 0 10px;
    width: 50%;

    img {
      width: 100%;
    }
  }
}